<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retail Shop</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  </head>
  <body>
    <div class="top-fields">
        <a href="/"><h5>Back Home</h5></a>
        <h4>Total Profits: <%= profits %> </h4>
        <h6>Date range</h6>
        <form class="filter-form" action="/profitable" method="POST" enctype="application/json">
          
          <div>
            <label for="from">From</label>
            <input type="date" id="from" name="dateFrom" value="<%= dateFrom%>" />
          </div>
          <div>
            <label for="from">To</label>
            <input type="date" id="from" name="dateTo" value="<%= dateTo%>" />
          </div>
          <button type="submit">Filter</button>
        </form>
    
        <h3>Top 5 profitable item types</h3>

    
    </div>

    <div class="container bottom-fields">
        <% if(dataList.length < 1) { %>
            <h6 style="height:40vh; display: flex; justify-content: center; align-items: center;">No data</h6>
          <% }%>
      <% dataList.forEach(function(details) { %>
      <div class="row all-items align-items-start">

        <div class="item col-6 item-1 col-md-4">
          <h4>Order Date</h4>
          <div><%= details['Order Date'] %></div>
        </div>
        <div class="item col-6 col-md-4">
          <h4>Order Priority</h4>
          <div><%= details['Order Priority'] %></div>
        </div>
        <div class="item col-6 col-md-4">
          <h4>Units Sold</h4>
          <div><%= details['Units Sold'] %></div>
        </div>
        <div class="item col-6 col-md-4">
          <h4>Unit Price</h4>
          <div><%= details['Unit Price'] %></div>
        </div>
        <div class="item col-6 col-md-4">
          <h4>Total Cost</h4>
          <div><%= details['Total Cost'] %></div>
        </div>
        <div class="item col-6 col-md-4">
          <h4>Total Revenue</h4>
          <div><%= details['Total Revenue'] %></div>
        </div>
        <div class="item col-6 col-md-4">
          <h4>Item Type</h4>
          <div><%= details['Item Type'] %></div>
        </div>








        <!-- <div class="item col-6 col-md-4">
          <h4>Region</h4>
          <div><%= details['Region'] %></div>
        </div>
        <div class="item col-6 col-md-4">
          <h4>Country</h4>
          <div><%= details['Country'] %></div>
        </div>
       
        <div class="item col-6 col-md-4">
          <h4>Sales Channel</h4>
          <div><%= details['Sales Channel'] %></div>
        </div>
      
        <div class="item col-6 col-md-4">
          <h4>Order ID</h4>
          <div><%= details['Order ID'] %></div>
        </div>
        <div class="item col-6 col-md-4">
          <h4>Ship Date</h4>
          <div><%= details['Ship Date'] %></div>
        </div>
        <div class="item col-6 col-md-4">
          <h4>Unit Cost</h4>
          <div><%= details['Unit Cost'] %></div>
        </div>
        <div class="item col-6 col-md-4">
          <h4>Total Profit'</h4>
          <div><%= details['Total Profit'] %></div>
        </div> -->

        <!-- <div><%= details.Region %></div> -->
      </div>
      <% }); %>
    </div>
  </body>
</html>
